@import 'styles/variables';

.heart {
  position: relative;
  width: 50px;
  height: 40px;

  &::before,
  &:after {
    position: absolute;
    content: '';
    left: 20px;
    top: 0;
    width: 20px;
    height: 30px;
    background: $grey;
    border-radius: 20px 20px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
  }

  &::after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
  }
}

.activeHeart {
  &::before,
  &:after {
    background: red !important;
  }
}
