.loginContainer {
  background: url('../../assets/images/login-background.svg') no-repeat center
  center fixed;
  background-size: cover;
  min-height: 100vh;
  font-weight: 400;
}

.loginForm {
  border-radius: 4px;
}
