@import 'assets/fonts/font.scss';
@import 'styles/variables';

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap';

body {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

.card-title {
  color: #000;
  font-size: 24px;
  font-weight: 500;
}

.card-text {
  color: grey;
}

// scrollbar scc

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f2f8ff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #8080808a;
}

.cursor-pointer {
  cursor: pointer;
}

.image {
  width: 30px;
  height: 30px;
}

.title {
  color: #8698a9;
}
